{% extends 'base.html' %}

{% block content %}
    <div class="text-center mb-4">
        <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-lg">ایجاد پست جدید</a>
    </div>
    
    <div class="text-center">
        <h3 class="mb-3">{{ current_user.username }}</h3>
        <p>{{ current_user.email }}</p>
        <hr class="my-4"/>
    </div>

    <div class="card mx-auto col-md-6">
        <div class="card-body">
            {% include 'inc/form_errors.html' %}

            <form action="" method="post">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.username.label(class='form-control-label', text='نام کاربری جدید') }}
                    {{ form.username(class='form-control', placeholder='نام کاربری جدید را وارد کنید') }}
                </div>

                <div class="form-group">
                    {{ form.email.label(class='form-control-label', text='ایمیل جدید') }}
                    {{ form.email(class='form-control', placeholder='ایمیل جدید را وارد کنید') }}
                </div>

                <div class="text-center">
                    <input type="submit" value="بروزرسانی" class="btn btn-success btn-lg">
                </div>
            </form>
        </div>
    </div>
{% endblock %}